# Sales and Forecast Data Analysis Project
Author: Sofia Shchetinina

## Table of Contents
1. [Project Overview](#project_overview)
2. [Exploratory Data Analysis](#exploratory-data-analysis)
3. [Data Cleaning](#data-cleaning)
4. [Database Schema](#database-schema)
5. [Data Quality and Integrity Checks](#data-quality-and-integrity-checks)

## Project Overview

This project involves the cleaning, processing, and analysis of sales and forecast data from different regions (Americas, EMEA, Asia). The goal is to consolidate this data into a unified database for easier querying and reporting. The project also includes ensuring data consistency, performing quality checks, and merging the sales data with forecast data to generate meaningful insights.

The data is sourced from multiple CSV and Excel files provided by business teams, which are prone to inconsistencies. The final output is stored in an SQLite database, ready for further analysis and visualization.

## Exploratory Data Analysis

In [1]:
import pandas as pd

In [2]:
# Load the data from csv sources
americas_data = pd.read_csv('data/americas.csv')
emea_data = pd.read_csv('data/emea.csv')
forecast_data = pd.read_csv('data/forecast.csv')

In [3]:
# Load the data from Excel ensuring the possibility of adding sheets
asia_sheets_dict = pd.read_excel('data/asia.xlsx', sheet_name=None)

# Standardize column names for different sheets
def standardize_columns(df):
    df.columns = df.columns.str.lower()  # Convert all column names to lowercase
    return df
# Apply function to all sheets
asia_sheets_dict = {sheet_name: standardize_columns(df) for sheet_name, df in asia_sheets_dict.items()}
# Combine 
asia_data = pd.concat(asia_sheets_dict.values(), ignore_index=True)

In [4]:
# Quick overview of the data
print('Americas data:', americas_data.head())
print('EMEA data:', emea_data.head())
print('Asia data:', asia_data.head())
print('Forecast data:', forecast_data.head())

Americas data:    Unnamed: 0    SURCHARGE  MATERIAL_NBR  PERIOD  \
0           0  5053.311857    11947192.0    2020
1           1  3744.609416    12502640.0    2022
2           2  2346.913894    11947192.0    2021
3           3  3507.780298    12515444.0    2021
4           4  1515.461933           NaN    2020

   COMMERCIAL_SALES_TERRITORY_CODE  SALES_TCFXACT      NET_QTY  \
0                            923.0     866.632718   631.691689
1                            923.0  -30561.190505    24.500444
2                            923.0   27128.528866  1198.988892
3                            921.0   13872.159979   314.982145
4                            922.0    3199.227007  1587.437073

  COMMERCIAL_TEAM COMMERCIAL_SUBREGION_DESC  COMPANY_CODE  ...  \
0            CT13                  UNDEF CA        1318.0  ...
1            CT13                  UNDEF CA        1318.0  ...
2            CT13                  UNDEF CA        1318.0  ...
3            CT13                  UNDEF US        3605.0  ...
4            CT14                  UNDEF MX        4570.0  ...

  COMMERCIAL_AREA_CODE COMMERCIAL_DISTRICT   GROSS_SALES REGION_CODE  \
0                  CA6               CD-CA  31513.949780           2
1                  CA6               CD-CA  26158.507145           2
2                  CA6               CD-CA  26782.343203           2
3                  CA6               CD-US  25154.177859           2
4                  CA7               CD-MX  13350.509660           2

  REGION_DESCRIPTION                  CROP  COMMERCIAL_TEAM_DESCRIPTION  \
0                NAM                TOMATO                        US&CA
1                NAM            SWEET CORN                        US&CA
2                NAM                TOMATO                        US&CA
3                NAM                TOMATO                        US&CA
4                NAM  OTHER VEGETABLE SEED                     MX&CACAR

     BASE_SALES     DISCOUNT     NET_SALES
0  26460.637923  3934.715024  27579.234756
1  22413.897730  4424.709552  21733.797594
2  24435.429310  4804.535337  21977.807866
3  21646.397561  4503.714706  20650.463153
4  11835.047727  2199.959130  11150.550529

[5 rows x 23 columns]
EMEA data:    Unnamed: 0 COMMERCIAL_TEAM COMMERCIAL_COUNTRY_NAME   PERIOD  \
0           0             CT7                   Italy  2020.03
1           1             CT7                   Italy  2020.03
2           2            CT52                 Germany  2021.06
3           3            CT52                 Germany  2022.12
4           4            CT52             Netherlands  2021.07

  Commercial_SUBREGION_DESC COMMERCIAL_DISTRICT_DESCRIPTION      NET_QTY  \
0                     ITALY                        CD-Italy   149.730967
1                     ITALY                        CD-Italy   628.913720
2             NW OPEN FIELD                CD-Germany-Openf  1576.427147
3             NW OPEN FIELD                CD-Germany-Openf  1151.868825
4             NW OPEN FIELD             CD-Netherland-Openf  1076.568791

  COMMERCIAL_DISTRICT REGION_DESCRIPTION  COMMERCIAL_SALES_TERRITORY_CODE  \
0               CD-IT               EMEA                            602.0
1               CD-IT               EMEA                            602.0
2          CD-DE-OPEN               EMEA                            671.0
3          CD-DE-OPEN               EMEA                            671.0
4          CD-NL-OPEN               EMEA                            669.0

   ... COMMERCIAL_AREA_CODE  COMMERCIAL_TEAM_DESCRIPTION    SURCHARGE  \
0  ...                 CAW1                        ITALY  1331.547643
1  ...                 CAW1                        ITALY  2937.590259
2  ...                 CAW2                NW OPEN FIELD  3107.940426
3  ...                 CAW2                NW OPEN FIELD  2498.692982
4  ...                 CAW2                NW OPEN FIELD  1789.255107

    GROSS_SALES MATERIAL_NBR  REGION_CODE  COMPANY_CODE    BASE_SALES  \
0  17698.469477          NaN            1        3515.0  16366.921834
1  18141.307759          NaN            1        3515.0  15203.717500
2  32893.538171          NaN            1        3385.0  29785.597744
3  20117.334270          NaN            1        3385.0  17618.641288
4  18492.631750          NaN            1        3605.0  16703.376644

      DISCOUNT     NET_SALES
0  1427.180248  16271.289229
1  2564.028564  15577.279194
2  4587.631824  28305.906346
3  3841.863792  16275.470478
4   650.319978  17842.311772

[5 rows x 23 columns]
Asia data:   commercial_team commercial_area_code    surcharge region_description  \
0            CT29                 CA22  2480.701181           SA & SEA
1            CT29                 CA22  2903.410514           SA & SEA
2            CT17                 CA10  2900.639112                ANZ
3            CT29                 CA22  3722.104986           SA & SEA
4            CT29                 CA22  2178.334082           SA & SEA

  commercial_area_description  commercial_sales_territory_code   period  \
0                       INDIA                              765  2020.10
1                       INDIA                              765  2020.07
2       AUSTRALIA/NEW ZEALAND                              176  2020.03
3                       INDIA                              765  2020.01
4                       INDIA                              765  2020.04

  commercial_subregion_desc      net_qty commercial_district  ...  \
0                     INDIA   670.625884               CD-IN  ...
1                     INDIA   983.069821               CD-IN  ...
2     AUSTRALIA/NEW ZEALAND  1012.090908               CD-NZ  ...
3                     INDIA  1801.817992               CD-IN  ...
4                     INDIA    75.567965               CD-IN  ...

  commercial_district_description                  crop   gross_sales  \
0                        CD-India                  OKRA  16882.097014
1                        CD-India          BEAN, GARDEN  29973.232514
2                  CD-New Zealand  OTHER VEGETABLE SEED  24979.536312
3                        CD-India                RADISH  26599.713350
4                        CD-India                 GOURD  14539.498084

   region_code  commercial_country_name material_nbr  company_code  \
0            6                    India   12760240.0          1266
1            6                    India          NaN          1266
2            7              New Zealand          NaN          1505
3            6                    India   12697737.0          1266
4            6                    India   10798361.0          1266

     base_sales     discount     net_sales
0  14401.395832  1906.704238  14975.392775
1  27069.822001  3343.258254  26629.974261
2  22078.897200  3869.793770  21109.742542
3  22877.608363  6533.606642  20066.106708
4  12361.164002  2881.255242  11658.242842

[5 rows x 21 columns]
Forecast data:    Unnamed: 0  MATERIAL_NUMBER COMMERCIAL_SEGMENT CMRCL_WRLD_AREA_CD  \
0           0         11181800                PRC           AMERICAS
1           1         12581731                OPN               EMEA
2           2         10784139                OPN               EMEA
3           3         30238985                OPN               EMEA
4           4         11484438                OPN               ASIA

  CMRCL_RGN_NM CMRCL_CNTRY_CD  CMRCL_CNTRY_DSC CMRCL_SUBRGN_CD  \
0          NAM             CA           Canada           SR204
1         EMEA             FR           France           SR132
2         EMEA             IT            Italy           SR121
3         EMEA             BY  Rep. of Belarus           SR501
4          ANZ             NZ      New Zealand           SR507

  CMRCL_SUBRGN_NM      SKU_CD  YEAR  FORECAST_VAL
0          NAM PC  PM10002925  2022  29208.506023
1   NW OPEN FIELD  PM10008815  2022  24305.954067
2           ITALY  PM10002210  2022  38051.760436
3         TD EMEA  PM10008952  2022  29540.648300
4          TD ANZ  PM10007906  2022  25630.491134

Summary after initial check:
- Excessive 'Unnamed: 0' column detected in americas_data, emea_data, forecast_data.
- Irrelevant 'SALES_TCFXACT' column in americas_data
- Format inconsistencies in "PERIOD" column: only year / year and month. Forecast is made for the year.
- MATERIAL_NBR in the sales data matches with MATERIAL_NUMBER in the forecast
- Inconsistent naming for COMMERCIAL_SUBREGION_DESC

In [5]:
# Drop extra columns
americas_data = americas_data.drop(columns=['Unnamed: 0', 'SALES_TCFXACT'], errors='ignore')
emea_data = emea_data.drop(columns=['Unnamed: 0', 'SALES_TC_FXACT'], errors='ignore')
asia_data = asia_data.drop(columns=['Unnamed: 0'], errors='ignore')
forecast_data = forecast_data.drop(columns=['Unnamed: 0'], errors='ignore')

In [6]:
# Convert all column names to lowercase
americas_data.columns = americas_data.columns.str.lower()
emea_data.columns = emea_data.columns.str.lower()
forecast_data.columns = forecast_data.columns.str.lower()
asia_data.columns = asia_data.columns.str.lower()

In [7]:
asia_data.head()

,commercial_team,commercial_area_code,surcharge,region_description,commercial_area_description,commercial_sales_territory_code,period,commercial_subregion_desc,net_qty,commercial_district,...,commercial_district_description,crop,gross_sales,region_code,commercial_country_name,material_nbr,company_code,base_sales,discount,net_sales
0,CT29,CA22,2480.701181,SA & SEA,INDIA,765,2020.10,INDIA,670.625884,CD-IN,...,CD-India,OKRA,16882.097014,6,India,12760240.0,1266,14401.395832,1906.704238,14975.392775
1,CT29,CA22,2903.410514,SA & SEA,INDIA,765,2020.07,INDIA,983.069821,CD-IN,...,CD-India,"BEAN, GARDEN",29973.232514,6,India,NaN,1266,27069.822001,3343.258254,26629.974261
2,CT17,CA10,2900.639112,ANZ,AUSTRALIA/NEW ZEALAND,176,2020.03,AUSTRALIA/NEW ZEALAND,1012.090908,CD-NZ,...,CD-New Zealand,OTHER VEGETABLE SEED,24979.536312,7,New Zealand,NaN,1505,22078.897200,3869.793770,21109.742542
3,CT29,CA22,3722.104986,SA & SEA,INDIA,765,2020.01,INDIA,1801.817992,CD-IN,...,CD-India,RADISH,26599.713350,6,India,12697737.0,1266,22877.608363,6533.606642,20066.106708
4,CT29,CA22,2178.334082,SA & SEA,INDIA,765,2020.04,INDIA,75.567965,CD-IN,...,CD-India,GOURD,14539.498084,6,India,10798361.0,1266,12361.164002,2881.255242,11658.242842

In [8]:
# Check for duplicates
print('Duplicates in Americas data:', americas_data.duplicated().sum())
print('Duplicates in EMEA data:', emea_data.duplicated().sum())
print('Duplicates in Asia data:', asia_data.duplicated().sum())
print('Duplicates in Forecast data:', forecast_data.duplicated().sum())

Duplicates in Americas data: 0
Duplicates in EMEA data: 0
Duplicates in Asia data: 0
Duplicates in Forecast data: 0

In [9]:
# Add REGION column and fill it with the name of the file
americas_data['region'] = 'Americas'
emea_data['region'] = 'EMEA'
asia_data['region'] = 'Asia'

In [10]:
# Check the data types and missing values
americas_data.info()
emea_data.info()
asia_data.info()
forecast_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3717 entries, 0 to 3716
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   surcharge                        3717 non-null   float64
 1   material_nbr                     3613 non-null   float64
 2   period                           3717 non-null   int64
 3   commercial_sales_territory_code  3717 non-null   float64
 4   net_qty                          3717 non-null   float64
 5   commercial_team                  3717 non-null   object
 6   commercial_subregion_desc        3717 non-null   object
 7   company_code                     3717 non-null   float64
 8   commercial_district_description  3717 non-null   object
 9   commercial_area_description      3717 non-null   object
 10  commercial_country_name          3717 non-null   object
 11  commercial_area_code             3717 non-null   object
 12  commercial_district              3717 non-null   object
 13  gross_sales                      3717 non-null   float64
 14  region_code                      3717 non-null   int64
 15  region_description               3717 non-null   object
 16  crop                             3717 non-null   object
 17  commercial_team_description      3717 non-null   object
 18  base_sales                       3717 non-null   float64
 19  discount                         3717 non-null   float64
 20  net_sales                        3717 non-null   float64
 21  region                           3717 non-null   object
dtypes: float64(9), int64(2), object(11)
memory usage: 639.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5707 entries, 0 to 5706
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   commercial_team                  5707 non-null   object
 1   commercial_country_name          5707 non-null   object
 2   period                           5707 non-null   float64
 3   commercial_subregion_desc        5707 non-null   object
 4   commercial_district_description  5707 non-null   object
 5   net_qty                          5707 non-null   float64
 6   commercial_district              5707 non-null   object
 7   region_description               5707 non-null   object
 8   commercial_sales_territory_code  5707 non-null   float64
 9   crop                             5707 non-null   object
 10  commercial_area_description      5707 non-null   object
 11  commercial_area_code             5707 non-null   object
 12  commercial_team_description      5707 non-null   object
 13  surcharge                        5707 non-null   float64
 14  gross_sales                      5707 non-null   float64
 15  material_nbr                     5358 non-null   float64
 16  region_code                      5707 non-null   int64
 17  company_code                     5707 non-null   float64
 18  base_sales                       5707 non-null   float64
 19  discount                         5707 non-null   float64
 20  net_sales                        5707 non-null   float64
 21  region                           5707 non-null   object
dtypes: float64(10), int64(1), object(11)
memory usage: 981.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7403 entries, 0 to 7402
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   commercial_team                  7403 non-null   object
 1   commercial_area_code             7403 non-null   object
 2   surcharge                        7403 non-null   float64
 3   region_description               7403 non-null   object
 4   commercial_area_description      7403 non-null   object
 5   commercial_sales_territory_code  7403 non-null   int64
 6   period                           7403 non-null   float64
 7   commercial_subregion_desc        7403 non-null   object
 8   net_qty                          7403 non-null   float64
 9   commercial_district              7403 non-null   object
 10  commercial_team_description      7403 non-null   object
 11  commercial_district_description  7403 non-null   object
 12  crop                             7403 non-null   object
 13  gross_sales                      7403 non-null   float64
 14  region_code                      7403 non-null   int64
 15  commercial_country_name          7403 non-null   object
 16  material_nbr                     7256 non-null   float64
 17  company_code                     7403 non-null   int64
 18  base_sales                       7403 non-null   float64
 19  discount                         7403 non-null   float64
 20  net_sales                        7403 non-null   float64
 21  region                           7403 non-null   object
dtypes: float64(8), int64(3), object(11)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128526 entries, 0 to 128525
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   material_number     128526 non-null  int64
 1   commercial_segment  106590 non-null  object
 2   cmrcl_wrld_area_cd  128526 non-null  object
 3   cmrcl_rgn_nm        128526 non-null  object
 4   cmrcl_cntry_cd      128526 non-null  object
 5   cmrcl_cntry_dsc     128526 non-null  object
 6   cmrcl_subrgn_cd     128526 non-null  object
 7   cmrcl_subrgn_nm     128526 non-null  object
 8   sku_cd              107940 non-null  object
 9   year                128526 non-null  int64
 10  forecast_val        128526 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 10.8+ MB

Missing values detected in 'material_nbr' in all sales datasets.
Column 'period' is in not in date format, which is not optimal.

In [11]:
# Rename the columns for consistency and better understanding
americas_data.rename(columns={'material_nbr': 'material_number'}, inplace=True)
emea_data.rename(columns={'material_nbr': 'material_number'}, inplace=True)
asia_data.rename(columns={'material_nbr': 'material_number'}, inplace=True)

In [12]:
# Evaluate the share of missing values
americas_missing = americas_data['material_number'].isnull().mean() * 100
emea_missing = emea_data['material_number'].isnull().mean() * 100
asia_missing = asia_data['material_number'].isnull().mean() * 100

print(f"Missing 'material_number' in Americas: {americas_missing:.2f}%")
print(f"Missing 'material_number' in EMEA: {emea_missing:.2f}%")
print(f"Missing 'material_number' in Asia: {asia_missing:.2f}%")

Missing 'material_number' in Americas: 2.80%
Missing 'material_number' in EMEA: 6.12%
Missing 'material_number' in Asia: 1.99%

In sales this amount of data could be important. I'll check if it's possible to figure out some regularities about these rows.

In [13]:
# Look at the rows where MATERIAL_NUMBER is missing for EMEA region
missing_material_rows = emea_data[emea_data['material_number'].isnull()]
missing_material_rows.head(50)

,commercial_team,commercial_country_name,period,commercial_subregion_desc,commercial_district_description,net_qty,commercial_district,region_description,commercial_sales_territory_code,crop,...,commercial_team_description,surcharge,gross_sales,material_number,region_code,company_code,base_sales,discount,net_sales,region
0,CT7,Italy,2020.03,ITALY,CD-Italy,149.730967,CD-IT,EMEA,602.0,"BEAN, GARDEN",...,ITALY,1331.547643,17698.469477,NaN,1,3515.0,16366.921834,1427.180248,16271.289229,EMEA
1,CT7,Italy,2020.03,ITALY,CD-Italy,628.913720,CD-IT,EMEA,602.0,OTHER VEGETABLE SEED,...,ITALY,2937.590259,18141.307759,NaN,1,3515.0,15203.717500,2564.028564,15577.279194,EMEA
2,CT52,Germany,2021.06,NW OPEN FIELD,CD-Germany-Openf,1576.427147,CD-DE-OPEN,EMEA,671.0,OTHER VEGETABLE SEED,...,NW OPEN FIELD,3107.940426,32893.538171,NaN,1,3385.0,29785.597744,4587.631824,28305.906346,EMEA
3,CT52,Germany,2022.12,NW OPEN FIELD,CD-Germany-Openf,1151.868825,CD-DE-OPEN,EMEA,671.0,OTHER VEGETABLE SEED,...,NW OPEN FIELD,2498.692982,20117.334270,NaN,1,3385.0,17618.641288,3841.863792,16275.470478,EMEA
4,CT52,Netherlands,2021.07,NW OPEN FIELD,CD-Netherland-Openf,1076.568791,CD-NL-OPEN,EMEA,669.0,CARROT,...,NW OPEN FIELD,1789.255107,18492.631750,NaN,1,3605.0,16703.376644,650.319978,17842.311772,EMEA
5,CT59,Iran,2022.10,IRAN,CD-Iran,2046.737950,CD-IR,EMEA,688.0,CARROT,...,IRAN,4957.499154,29348.580023,NaN,1,3605.0,24391.080869,4241.998726,25106.581297,EMEA
6,CT59,Iran,2022.03,IRAN,CD-Iran,683.470520,CD-IR,EMEA,688.0,SQUASH,...,IRAN,3426.082475,22345.659780,NaN,1,3605.0,18919.577305,2672.224993,19673.434787,EMEA
7,CT53,Kuwait,2020.02,MIDDLE EAST,CD-Kuwait,814.712329,CD-KW,EMEA,656.0,TOMATO,...,MIDDLE EAST & EGYPT,2066.209757,20373.990754,NaN,1,3605.0,18307.780997,3685.186973,16688.803781,EMEA
8,CT51,Netherlands,2021.09,EMEA GLASS,CD-Netherlands-Glass,208.086718,CD-NL-GLAS,EMEA,663.0,TOMATO,...,EMEA GLASS,4787.052491,33142.540511,NaN,1,3605.0,28355.488021,4121.115022,29021.425489,EMEA
9,CT52,Germany,2022.03,NW OPEN FIELD,CD-Germany-Openf,1775.678647,CD-DE-OPEN,EMEA,671.0,OTHER VEGETABLE SEED,...,NW OPEN FIELD,1589.365197,15238.269824,NaN,1,3385.0,13648.904627,2703.065348,12535.204476,EMEA
10,CT52,Germany,2022.06,NW OPEN FIELD,CD-Germany-Openf,267.083380,CD-DE-OPEN,EMEA,671.0,OTHER VEGETABLE SEED,...,NW OPEN FIELD,4408.969619,30687.409425,NaN,1,3385.0,26278.439806,6849.080914,23838.328512,EMEA
11,CT52,Netherlands,2021.05,NW OPEN FIELD,CD-Netherlands-Openf,1088.110470,CD-NL-OPEN,EMEA,669.0,CAULIFLOWER,...,NW OPEN FIELD,3642.699414,26142.845022,NaN,1,3605.0,22500.145608,2963.958908,23178.886114,EMEA
12,CTX1,Undef EMEA,2021.11,UNDEF EMEA,CD-Undef EMEA,704.197577,CD-X1,EMEA,911.0,PEA,...,UNDEF EMEA,3024.646895,26094.436632,NaN,1,3605.0,23069.789737,2933.923956,23160.512676,EMEA
13,CT7,Italy,2022.10,ITALY,CD-Italy,976.047743,CD-IT,EMEA,602.0,OTHER VEGETABLE SEED,...,ITALY,5136.186004,33662.623052,NaN,1,3515.0,28526.437048,3936.571500,29726.051552,EMEA
14,CT50,Germany,2022.12,EMEA PROCESSING,CD-Germany-Proc,6.778188,CD-DE-PROC,EMEA,658.0,SWEET CORN,...,EMEA PROCESSING,4225.391236,33452.342975,NaN,1,3605.0,29226.951739,3108.891222,30343.451753,EMEA
15,CT51,France,2020.11,EMEA GLASS,CD-France-Glass,648.034048,CD-FR-GLAS,EMEA,664.0,TOMATO,...,EMEA GLASS,3537.641988,18776.814342,NaN,1,3354.0,15239.172354,2568.052586,16208.761756,EMEA
16,CT52,Netherlands,2022.03,NW OPEN FIELD,CD-Netherlands-Openf,1617.181782,CD-NL-OPEN,EMEA,669.0,BROCCOLI,...,NW OPEN FIELD,1268.575193,11617.336425,NaN,1,3605.0,10348.761232,1944.798811,9672.537614,EMEA
17,CTX1,Undef EMEA,2022.07,UNDEF EMEA,CD-Undef EMEA,117.693763,CD-X1,EMEA,911.0,PEA,...,UNDEF EMEA,4214.255431,31100.615858,NaN,1,3605.0,26886.360426,5795.631894,25304.983964,EMEA
18,CT58,Türkiye,2022.08,TURKEY,CD-Turkey,287.081714,CD-TR,EMEA,604.0,OTHER VEGETABLE SEED,...,TURKEY & S-CA,3161.434295,23102.563177,NaN,1,3970.0,19941.128883,3059.849960,20042.713217,EMEA
19,CT5,Spain,2021.02,IBERICA,CD-Spain,493.362431,CD-ES,EMEA,649.0,OTHER VEGETABLE SEED,...,IBERICA,3624.991742,28045.053937,NaN,1,3781.0,24420.062195,3886.285899,24158.768038,EMEA
20,CT50,France,2021.06,EMEA PROCESSING,CD-France-Proc,1494.442556,CD-FR-PROC,EMEA,657.0,"BEAN, GARDEN",...,EMEA PROCESSING,1740.858063,11793.272795,NaN,1,3155.0,10052.414732,2291.685459,9501.587336,EMEA
21,CT51,France,2022.11,EMEA GLASS,CD-France-Glass,586.733076,CD-FR-GLAS,EMEA,664.0,TOMATO,...,EMEA GLASS,3239.689046,27234.517942,NaN,1,3354.0,23994.828896,2481.239174,24753.278768,EMEA
22,CT51,France,2022.12,EMEA GLASS,CD-France-Glass,343.275426,CD-FR-GLAS,EMEA,664.0,TOMATO,...,EMEA GLASS,3284.701098,27329.888253,NaN,1,3354.0,24045.187155,4827.016593,22502.871660,EMEA
23,CT51,Netherlands,2022.08,EMEA GLASS,CD-Netherlands-Glass,339.965392,CD-NL-GLAS,EMEA,663.0,TOMATO,...,EMEA GLASS,3282.009484,20147.938999,NaN,1,3605.0,16865.929515,3319.673119,16828.265880,EMEA
24,CT52,Germany,2022.12,NW OPEN FIELD,CD-Germany-Openf,767.752566,CD-DE-OPEN,EMEA,671.0,OTHER VEGETABLE SEED,...,NW OPEN FIELD,3195.748474,31168.114788,NaN,1,3385.0,27972.366315,4613.953737,26554.161051,EMEA
25,CT56,Rep. of Belarus,2022.03,RUSSIA & UKRAINE,CD-Belarus,1917.241141,CD-BY,EMEA,685.0,CUCUMBER,...,E-EUROPE & ISRAEL,3540.896448,26760.424991,NaN,1,3605.0,23219.528543,4572.524673,22187.900317,EMEA
26,CT53,Iraq,2022.11,MIDDLE EAST,CD-Iraq,384.404017,CD-IQ,EMEA,656.0,CUCUMBER,...,MIDDLE EAST & EGYPT,2038.611550,13513.112110,NaN,1,3605.0,11474.500560,2718.727038,10794.385072,EMEA
27,CT7,Italy,2022.01,ITALY,CD-Italy,237.866096,CD-IT,EMEA,602.0,OTHER VEGETABLE SEED,...,ITALY,3493.944887,32586.079204,NaN,1,3515.0,29092.134318,4425.873513,28160.205692,EMEA
28,CT52,Netherlands,2020.06,NW OPEN FIELD,CD-Netherlands-Openf,282.208179,CD-NL-OPEN,EMEA,669.0,CARROT,...,NW OPEN FIELD,3245.592773,28389.144315,NaN,1,3605.0,25143.551543,4514.114664,23875.029652,EMEA
29,CT52,Netherlands,2021.12,NW OPEN FIELD,CD-Netherland-Openf,1171.082072,CD-NL-OPEN,EMEA,669.0,ONION,...,NW OPEN FIELD,4017.685751,29421.385908,NaN,1,3605.0,25403.700157,4896.519407,24524.866501,EMEA
30,CT59,Iran,2022.03,IRAN,CD-Iran,1571.210334,CD-IR,EMEA,688.0,SPINACH,...,IRAN,2036.187547,15893.794600,NaN,1,3605.0,13857.607053,2223.224212,13670.570388,EMEA
31,CT58,Türkiye,2022.02,TURKEY,CD-Turkey,1313.474125,CD-TR,EMEA,604.0,OTHER VEGETABLE SEED,...,TURKEY & S-CA,2582.820484,18551.961292,NaN,1,3970.0,15969.140809,2198.730098,16353.231195,EMEA
32,CT7,Italy,2020.06,ITALY,CD-Italy,665.939001,CD-IT,EMEA,602.0,OTHER VEGETABLE SEED,...,ITALY,2199.666531,17389.642973,NaN,1,3515.0,15189.976442,3118.783931,14270.859042,EMEA
33,CT50,France,2021.02,EMEA PROCESSING,CD-France-Proc,326.688983,CD-FR-PROC,EMEA,657.0,"BEAN, GARDEN",...,EMEA PROCESSING,4262.118834,30935.823920,NaN,1,3155.0,26673.705086,3562.141166,27373.682754,EMEA
34,CT51,France,2021.02,EMEA GLASS,CD-France-Glass,197.630096,CD-FR-GLAS,EMEA,664.0,TOMATO,...,EMEA GLASS,3031.606262,27354.256701,NaN,1,3354.0,24322.650439,2799.566160,24554.690541,EMEA
35,CT52,France,2020.05,NW OPEN FIELD,CD-France-Openf,1378.693446,CD-FR-OPEN,EMEA,670.0,SQUASH,...,NW OPEN FIELD,4448.128731,28643.963013,NaN,1,3354.0,24195.834282,6003.755905,22640.207108,EMEA
36,CT56,Ukraine,2022.03,RUSSIA & UKRAINE,CD-Ukraine,506.666698,CD-UA,EMEA,685.0,CARROT,...,E-EUROPE & ISRAEL,4714.047829,30987.837759,NaN,1,3605.0,26273.789930,3844.662789,27143.174970,EMEA
37,CT59,Iran,2022.07,IRAN,CD-Iran,2016.997797,CD-IR,EMEA,688.0,TOMATO,...,IRAN,2934.417195,26212.037866,NaN,1,3605.0,23277.620671,7199.243595,19012.794272,EMEA
38,CT58,Türkiye,2022.04,TURKEY,CD-Turkey,1143.553116,CD-TR,EMEA,604.0,OTHER VEGETABLE SEED,...,TURKEY & S-CA,2773.950767,19722.858527,NaN,1,3970.0,16948.907759,923.005209,18799.853317,EMEA
39,CT50,France,2021.07,EMEA PROCESSING,CD-France-Proc,241.006602,CD-FR-PROC,EMEA,657.0,"BEAN, GARDEN",...,EMEA PROCESSING,2977.265968,28084.208180,NaN,1,3155.0,25106.942212,5242.728608,22841.479573,EMEA
40,CT51,France,2022.02,EMEA GLASS,CD-France-Glass,725.915618,CD-FR-GLAS,EMEA,664.0,TOMATO,...,EMEA GLASS,2770.922004,18401.438411,NaN,1,3354.0,15630.516407,3550.751087,14850.687324,EMEA
41,CT52,Netherlands,2021.10,NW OPEN FIELD,CD-Netherlands-Openf,1890.318752,CD-NL-OPEN,EMEA,669.0,CAULIFLOWER,...,NW OPEN FIELD,2120.370696,16985.923879,NaN,1,3155.0,14865.553184,2269.759357,14716.164522,EMEA
42,CT52,Netherlands,2021.08,NW OPEN FIELD,CD-Netherlands-Openf,35.401249,CD-NL-OPEN,EMEA,669.0,CAULIFLOWER,...,NW OPEN FIELD,1536.806797,15567.275412,NaN,1,3155.0,14030.468616,2206.194085,13361.081327,EMEA
43,CTX1,Undef EMEA,2022.05,UNDEF EMEA,CD-Undef EMEA,798.235526,CD-X1,EMEA,911.0,PEA,...,UNDEF EMEA,1971.896712,16271.531786,NaN,1,3605.0,14299.635074,2371.839482,13899.692304,EMEA
44,CTX1,Undef EMEA,2021.12,UNDEF EMEA,CD-Undef EMEA,870.614180,CD-X1,EMEA,911.0,TOMATO,...,UNDEF EMEA,3242.636876,27634.998778,NaN,1,3605.0,24392.361902,2279.983263,25355.015516,EMEA
45,CT59,Iran,2021.01,IRAN,CD-Iran,636.827320,CD-IR,EMEA,688.0,TOMATO,...,IRAN,2182.757963,15025.296568,NaN,1,3605.0,12842.538605,1698.329271,13326.967297,EMEA
46,CT51,Netherlands,2021.07,EMEA GLASS,CD-Netherlands-Glass,895.908519,CD-NL-GLAS,EMEA,663.0,CUCUMBER,...,EMEA GLASS,3094.966111,30054.207261,NaN,1,3155.0,26959.241151,3765.441272,26288.765989,EMEA
47,CT51,Netherlands,2021.03,EMEA GLASS,CD-Netherlands-Glass,1342.361295,CD-NL-GLAS,EMEA,663.0,CUCUMBER,...,EMEA GLASS,3162.802637,30015.025577,NaN,1,3605.0,26852.222940,4996.792595,25018.232982,EMEA
48,CT52,Germany,2021.03,NW OPEN FIELD,CD-Germany-Openf,414.079614,CD-DE-OPEN,EMEA,671.0,OTHER VEGETABLE SEED,...,NW OPEN FIELD,1673.165685,12897.670886,NaN,1,3385.0,11224.505201,2153.094213,10744.576673,EMEA
49,CT52,Germany,2021.05,NW OPEN FIELD,CD-Germany-Openf,1222.150205,CD-DE-OPEN,EMEA,671.0,OTHER VEGETABLE SEED,...,NW OPEN FIELD,1849.927068,15137.369789,NaN,1,3385.0,13287.442721,1907.805474,13229.564315,EMEA

Rows with missing values seem random and probably are caused by human error. I'll remove them because it'll be more robust to keep the column in integer format, and do not overcomplicate it with placeholders.

In [14]:
# Remove rows with missing material_number in all regions
americas_data = americas_data.dropna(subset=['material_number'])
emea_data = emea_data.dropna(subset=['material_number'])
asia_data = asia_data.dropna(subset=['material_number'])

In [15]:
# Convert material_number to integer after dropping missing rows
americas_data['material_number'] = americas_data['material_number'].astype(int)
emea_data['material_number'] = emea_data['material_number'].astype(int)
asia_data['material_number'] = asia_data['material_number'].astype(int)

In [16]:
# Check the date formats in 'Period'
print('Unique period values in Americas Data:')
print(americas_data['period'].unique())

print('\nUnique period values in EMEA Data:')
print(emea_data['period'].unique())

print('\nUnique period values in Asia Data:')
print(asia_data['period'].unique())

Unique period values in Americas Data:
[2020 2022 2021]

Unique period values in EMEA Data:
[2021.03 2021.04 2022.07 2022.09 2021.08 2021.1  2021.01 2020.03 2021.02
 2020.01 2022.05 2022.04 2020.04 2020.02 2020.12 2020.11 2020.05 2021.07
 2022.02 2020.06 2020.08 2021.12 2020.1  2021.09 2022.12 2022.08 2021.06
 2020.09 2022.03 2022.06 2022.11 2020.07 2022.01 2021.11 2021.05 2022.1 ]

Unique period values in Asia Data:
[2020.1  2020.01 2020.04 2020.05 2020.06 2020.11 2020.02 2020.03 2020.12
 2020.07 2020.08 2020.09 2021.02 2021.04 2021.06 2021.12 2021.11 2021.03
 2021.08 2021.01 2021.1  2021.05 2021.07 2021.09 2022.1  2022.12 2022.01
 2022.04 2022.08 2022.03 2022.07 2022.09 2022.06 2022.02 2022.05 2022.11]

In [17]:
# Fix date format
americas_data['period'] = americas_data['period'].astype(str) + '.01'
emea_data['period'] = emea_data['period'].apply(lambda x: f"{str(x).split('.')[0]}.{str(x).split('.')[1].zfill(2)}")
asia_data['period'] = asia_data['period'].apply(lambda x: f"{str(x).split('.')[0]}.{str(x).split('.')[1].zfill(2)}")

# Check the date formats in 'Period'
print('Unique period values in Americas Data:')
print(americas_data['period'].unique())

print('\nUnique period values in EMEA Data:')
print(emea_data['period'].unique())

print('\nUnique period values in Asia Data:')
print(asia_data['period'].unique())

Unique period values in Americas Data:
['2020.01' '2022.01' '2021.01']

Unique period values in EMEA Data:
['2021.03' '2021.04' '2022.07' '2022.09' '2021.08' '2021.01' '2020.03'
 '2021.02' '2020.01' '2022.05' '2022.04' '2020.04' '2020.02' '2020.12'
 '2020.11' '2020.05' '2021.07' '2022.02' '2020.06' '2020.08' '2021.12'
 '2021.09' '2022.12' '2022.08' '2021.06' '2020.09' '2022.03' '2022.06'
 '2022.11' '2020.07' '2022.01' '2021.11' '2021.05']

Unique period values in Asia Data:
['2020.01' '2020.04' '2020.05' '2020.06' '2020.11' '2020.02' '2020.03'
 '2020.12' '2020.07' '2020.08' '2020.09' '2021.02' '2021.04' '2021.06'
 '2021.12' '2021.11' '2021.03' '2021.08' '2021.01' '2021.05' '2021.07'
 '2021.09' '2022.01' '2022.12' '2022.04' '2022.08' '2022.03' '2022.07'
 '2022.09' '2022.06' '2022.02' '2022.05' '2022.11']

In [18]:
# Convert to datetime format and check
americas_data['period'] = pd.to_datetime(americas_data['period'], format='%Y.%m')
print('Americas data:', americas_data['period'])

emea_data['period'] = pd.to_datetime(emea_data['period'], format='%Y.%m')
print('EMEA data:', emea_data['period'])

asia_data['period'] = pd.to_datetime(asia_data['period'], format='%Y.%m')
print('Asia data:', asia_data['period'])

Americas data: 0      2020-01-01
1      2022-01-01
2      2021-01-01
3      2021-01-01
21     2022-01-01
          ...
3712   2021-01-01
3713   2021-01-01
3714   2021-01-01
3715   2022-01-01
3716   2021-01-01
Name: period, Length: 3613, dtype: datetime64[ns]
EMEA data: 102    2021-03-01
119    2021-04-01
206    2022-07-01
291    2022-09-01
353    2021-08-01
          ...
5702   2022-01-01
5703   2020-03-01
5704   2021-02-01
5705   2020-12-01
5706   2021-01-01
Name: period, Length: 5358, dtype: datetime64[ns]
Asia data: 0      2020-01-01
3      2020-01-01
4      2020-04-01
5      2020-05-01
6      2020-06-01
          ...
7398   2022-09-01
7399   2022-09-01
7400   2022-07-01
7401   2022-09-01
7402   2022-02-01
Name: period, Length: 7256, dtype: datetime64[ns]

In [19]:
# Check the country names for consistency
print("Unique country names in Americas Data:")
print(americas_data['commercial_country_name'].unique())

print("\nUnique country names in EMEA Data:")
print(emea_data['commercial_country_name'].unique())

print("\nUnique country names in Asia Data:")
print(asia_data['commercial_country_name'].unique())

# Map differently spelled values
country_name_mapping = {
    'Canadá': 'Canada',
    'México': 'Mexico',
    'Brasil': 'Brazil',
    'UK': 'United Kingdom',
    'U.S.A': 'United States',
    'Estados Unidos': 'United States',
    'España': 'Spain'
}

americas_data['commercial_country_name'] = americas_data['commercial_country_name'].replace(country_name_mapping)
emea_data['commercial_country_name'] = emea_data['commercial_country_name'].replace(country_name_mapping)
asia_data['commercial_country_name'] = asia_data['commercial_country_name'].replace(country_name_mapping)

# Check the result of mapping
print('Standardized country names in Americas Data:')
print(americas_data['commercial_country_name'].unique())

Unique country names in Americas Data:
['Canadá' 'Canada' 'USA' 'Brazil' 'Argentina' 'Chile' 'Mexico' 'Ecuador'
 'Dominican Rep.' 'Trinidad,Tobago' 'Colombia' 'Japan' 'Jamaica'
 'Honduras' 'Nicaragua' 'Bolivia' 'Venezuela' 'Panama' 'El Salvador'
 'Costa Rica' 'Paraguay' 'Guatemala' 'Peru' 'Uruguay' 'Ecuator']

Unique country names in EMEA Data:
['Germany' 'Russian Fed.' 'Egypt' 'Spain' 'Türkiye' 'Ghana' 'Togo' 'Kenya'
 'Hungary' 'Israel' 'Iran' 'Unit.Arab Emir.' 'Morocco' 'Italy' 'Croatia'
 'Bosnia-Herz.' 'United Kingdom' 'Burundi' 'Ethiopia' 'Tanzania' 'Uganda'
 'South Africa' 'France' 'Netherlands' 'Poland' 'Portugal' 'Greece'
 'Cyprus' 'Kazakhstan' 'Ukraine' 'Sweden' 'Oman' 'Saudi Arabia' 'Qatar'
 'Syria' 'Iraq' 'Jordan' 'Palestinian Ter' 'Lebanon' 'Tunisia' 'Algeria'
 'Uzbekistan' 'Rep. of Belarus' 'Kuwait' 'Libya' 'Bahrain' 'Albania'
 'Slovakia' 'Bulgaria' 'Serbia' 'Romania' 'Yemen' 'Azerbaijan' 'Nigeria'
 'Ivory Coast' 'Benin' 'Congo Democr. R' 'Senegal' 'Niger'
 'North Macedonia' 'Moldova,Rep. of' 'Slovenia' 'Georgia' 'Armenia'
 'Belarus']

Unique country names in Asia Data:
['India' 'Pakistan' 'Philippines' 'China' 'Australia' 'New Zealand'
 'Japan' 'Thailand' 'South Korea' 'Vietnam' 'Bangladesh' 'Taiwan'
 'Undefined' 'Nepal']
Standardized country names in Americas Data:
['Canada' 'USA' 'Brazil' 'Argentina' 'Chile' 'Mexico' 'Ecuador'
 'Dominican Rep.' 'Trinidad,Tobago' 'Colombia' 'Japan' 'Jamaica'
 'Honduras' 'Nicaragua' 'Bolivia' 'Venezuela' 'Panama' 'El Salvador'
 'Costa Rica' 'Paraguay' 'Guatemala' 'Peru' 'Uruguay' 'Ecuator']

In [20]:
combined_sales = pd.concat([americas_data, emea_data, asia_data], axis=0, ignore_index=True)
print('Combined sales data:', combined_sales.head())

Combined sales data:      surcharge  material_number     period  commercial_sales_territory_code  \
0  5053.311857         11947192 2020-01-01                            923.0
1  3744.609416         12502640 2022-01-01                            923.0
2  2346.913894         11947192 2021-01-01                            923.0
3  3507.780298         12515444 2021-01-01                            921.0
4  4209.321190         10762610 2022-01-01                            921.0

       net_qty commercial_team commercial_subregion_desc  company_code  \
0   631.691689            CT13                  UNDEF CA        1318.0
1    24.500444            CT13                  UNDEF CA        1318.0
2  1198.988892            CT13                  UNDEF CA        1318.0
3   314.982145            CT13                  UNDEF US        3605.0
4   165.566886            CT13                  UNDEF US        3605.0

  commercial_district_description commercial_area_description  ...  \
0                       CD-Canada                   US and CA  ...
1                       CD-Canada                       US&CA  ...
2                       CD-Canada                   US and CA  ...
3                          CD-USA                   US and CA  ...
4                          CD-USA                       US&CA  ...

  commercial_district   gross_sales region_code  region_description  \
0               CD-CA  31513.949780           2                 NAM
1               CD-CA  26158.507145           2                 NAM
2               CD-CA  26782.343203           2                 NAM
3               CD-US  25154.177859           2                 NAM
4               CD-US  31347.950976           2                 NAM

         crop commercial_team_description    base_sales     discount  \
0      TOMATO                       US&CA  26460.637923  3934.715024
1  SWEET CORN                       US&CA  22413.897730  4424.709552
2      TOMATO                       US&CA  24435.429310  4804.535337
3      TOMATO                       US&CA  21646.397561  4503.714706
4    CUCUMBER                       US&CA  27138.629786  2218.186661

      net_sales    region
0  27579.234756  Americas
1  21733.797594  Americas
2  21977.807866  Americas
3  20650.463153  Americas
4  29129.764315  Americas

[5 rows x 22 columns]

In [21]:
# Check for duplicates
duplicates = combined_sales.duplicated().sum()
print(f"Duplicate rows in combined sales data: {duplicates}")

Duplicate rows in combined sales data: 0

In [22]:
combined_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16227 entries, 0 to 16226
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   surcharge                        16227 non-null  float64
 1   material_number                  16227 non-null  int64
 2   period                           16227 non-null  datetime64[ns]
 3   commercial_sales_territory_code  16227 non-null  float64
 4   net_qty                          16227 non-null  float64
 5   commercial_team                  16227 non-null  object
 6   commercial_subregion_desc        16227 non-null  object
 7   company_code                     16227 non-null  float64
 8   commercial_district_description  16227 non-null  object
 9   commercial_area_description      16227 non-null  object
 10  commercial_country_name          16227 non-null  object
 11  commercial_area_code             16227 non-null  object
 12  commercial_district              16227 non-null  object
 13  gross_sales                      16227 non-null  float64
 14  region_code                      16227 non-null  int64
 15  region_description               16227 non-null  object
 16  crop                             16227 non-null  object
 17  commercial_team_description      16227 non-null  object
 18  base_sales                       16227 non-null  float64
 19  discount                         16227 non-null  float64
 20  net_sales                        16227 non-null  float64
 21  region                           16227 non-null  object
dtypes: datetime64[ns](1), float64(8), int64(2), object(11)
memory usage: 2.7+ MB

## Database Schema

Create a database and tables within

In [23]:
import sqlite3

In [24]:
# Create a connection to the SQLite database
conn = sqlite3.connect('sales_forecast.db')

# Create a cursor object
cursor = conn.cursor()

In [25]:
combined_sales.to_sql('combined_sales', conn, if_exists='replace', index=False)

forecast_data.to_sql('forecast_data', conn, if_exists='replace', index=False)

128526

In [26]:
query = """
SELECT 
    cs.period::date AS sales_period,
    cs.material_number,
    cs.commercial_country_name,
    cs.net_sales,
    cs.gross_sales,
    cs.base_sales,
    cs.surcharge,
    cs.discount,
    cs.net_qty,
    cs.commercial_team,
    cs.company_code,
    LOWER(cs.commercial_team_description) AS commercial_team_description,
    cs.crop,
    cs.region,
    fd.forecast_val
FROM 
    combined_sales cs
LEFT JOIN 
    forecast_data fd 
ON 
    cs.material_number = fd.material_number 
    AND strftime('%Y', cs.period) = fd.year
    AND cs.commercial_country_name = fd.cmrcl_cntry_dsc
"""

In [27]:
pd.read_sql_query(query, conn).to_csv('sales_forecast.csv', index=False)

In [28]:
conn.commit()
conn.close()